# Database (PostgreSQL untuk production)
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/invoiceforge?schema=public"

# NextAuth
AUTH_SECRET="GANTI-DENGAN-SECRET-KUAT-MIN-32-CHAR"
AUTH_URL="https://invoiceforge.id"
NEXTAUTH_URL="https://invoiceforge.id"

# Email
RESEND_API_KEY="re_..."
RESEND_FROM_EMAIL="noreply@invoiceforge.id"

# App
NEXT_PUBLIC_APP_URL="https://invoiceforge.id"
NEXT_PUBLIC_APP_NAME="InvoiceForge"

# Production flags
NODE_ENV=production
NEXT_TELEMETRY_DISABLED=1
